<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/_css/detailPage.css"/>

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>NODE JS</title>
</head>
<body>
    <div class="w3-container">
        <h1>Chi tiết xe</h3>
        <div class="row">
            <div class="column left">
              <div class="w3-content w3-display-container">
                <% for (let i=0 ; i<imgXe.length; i++) { %>
                <img class="mySlides" style="width:100%" src="<%= imgXe[i].lien_ket_anh%>">
                <% } %>    
                <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
                <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
              </div>
            </div>
            <div class="column right" >
              <div class="info-component">
                <div class="title">Id</div>
                <div class="details"><%= detailsXe[0].id%></div>
              </div>
              <div class="info-component">
                <div class="title">Tên xe</div>
                <div class="details"><%= detailsXe[0].ten_xe%></div>
              </div>
              <div class="info-component">
                <div class="title">Giá bán</div>
                <div class="details"><%= detailsXe[0].gia%></div>
              </div>
              <div class="info-component">
                <div class="title">Ưu đãi</div>
                <div class="details"><%= detailsXe[0].loai_uu_dai%></div>
              </div>
              <div class="info-component">
                <div class="title">Giá ưu đãi</div>
                <div class="details"><%= detailsXe[0].gia_uu_dai%></div>
              </div>
              <div class="info-component">
                <div class="title">Danh mục</div>
                <div class="details"></div>
              </div>
              <div class="info-component">
                <div class="title">Mô tả</div>
                <div class="details"><%= detailsXe[0].mota%></div>
              </div>
            </div>
        </div>
    </div>
</body>
<script>
    var slideIndex = 1;
    showDivs(slideIndex);
    
    function plusDivs(n) {
      showDivs(slideIndex += n);
    }
    
    function showDivs(n) {
      var i;
      var x = document.getElementsByClassName("mySlides");
      if (n > x.length) {slideIndex = 1}
      if (n < 1) {slideIndex = x.length}
      for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";  
      }
      x[slideIndex-1].style.display = "block";  
    }
    </script>
</html>