<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/_css/homePage.css"/>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>NODE JS</title>
</head>
<body>
<div class="topnav">
    <a class="active" href="/web/home">Home</a>
    <div class="dropdown">
      <a href="/web/danhmuc" class="dropbtn">Danh mục</a>
    </div>
    <div class="dropdown">
        <a href="/web/hangxe" class="dropbtn">Hãng xe</a>
        <div class="dropdown-content">
            <% for (let i = 0; i < dataHangxe.length; i++) { %>
                <a href="/web/hangxe/<%= dataHangxe[i].id%>"><%= dataHangxe[i].ten_hang_xe %></a>
            <% } %>
        </div>
      </div> 
    <a href="#about">About</a>
    <button id="addDanhMucButton" class="add-button">Thêm hãng xe</button>
</div>
      
      <div style="padding-left:16px">
        <div class="w3-container">
          <h2>Danh sách hãng xe</h2>        
          <table class="w3-table-all">
            <thead>
              <tr class="w3-light-grey w3-hover-green">
                <th>Tên hãng xe</th>
                <th>Ảnh đại diện</th>
                <th>Hoạt động</th>
                <th></th>
              </tr>
            </thead>
            <% for (let i = 0; i < dataHangxe.length; i++) { %>
              <tr class="w3-hover-text-green">
                <td><%= dataHangxe[i].ten_hang_xe%></td>
                <td><img src="<%= dataHangxe[i].logo%>" alt="" class="thumbnail-img"></td>
                <td>
                  <a class="link-button delete-button" href="/web/hangxe/xoa/<%= dataHangxe[i].id%>" onclick="return confirmDelete()">Delete</a>
                </td>
              </tr>
            <% } %>
          </table>
        </div>
      </div>
  
      <!-- </div> -->
      <div id="addDanhMucFormWrapper" class="hidden">
        <div id="addDanhMucForm">
          <h3>Thêm danh mục</h3>
          <form id="danhMucForm" method="POST" action="/web/hangxe/add" enctype="multipart/form-data">
            <label for="tenDanhMuc">Tên hãng xe:</label>
            <input type="text" id="tenDanhMuc" name="ten_hang_xe" required>
            <br>
            <label for="anhDaiDien">Ảnh đại diện:</label>
            <input type="file" id="anhDaiDien" name="logo" accept="image/*" required>
            <br>
            <button type="submit">Lưu</button>
          </form>
        </div>
      </div>
      
      <script>
        document.addEventListener('DOMContentLoaded', function() {
          const addDanhMucButton = document.getElementById('addDanhMucButton');
          const addDanhMucFormWrapper = document.getElementById('addDanhMucFormWrapper');
      
          addDanhMucButton.addEventListener('click', function() {
            addDanhMucFormWrapper.classList.toggle('hidden');
          });
        });
      </script>
      
      <style>
        .hidden {
          display: none;
        }
      </style>
      <script>
        function confirmDelete() {
          if (confirm("Bạn có chắc chắn muốn xóa?")) {
            return true; 
          } else {
            return false; 
          }
        }
      </script>

               
</body>
</html>